body{
    background-color:black;
    background-image: url(https://wallpapercave.com/wp/wp7346888.jpg);
}
.nav-extended{
 background-image: url("https://wallpapercave.com/wp/wp7346888.jpg")
 
}    
.right{
    color: aliceblue;
}

.card{



}